@model YTool.Business.ViewModels.ArtistViewModel
<div class="panel panel-default">
    <div class="panel-heading">Recognize Artist using https://api.audd.io/</div>
    <div class="panel-body">
        <div class="container">
            <dl class="dl-horizontal">
                <dt><label class="form-label">Artist </label></dt>
                <dd>@Model.artist</dd>
                <dt><label class="form-label">Title </label></dt>
                <dd>@Model.title</dd>
                <dt><label class="form-label">Album </label></dt>
                <dd>@Model.album</dd>
                <dt><label class="form-label">Release Date </label></dt>
                <dd>@Model.release_date</dd>
                <dt><label class="form-label">Label </label></dt>
                <dd>@Model.label</dd>
                <dt><label class="form-label">Underground </label></dt>
                <dd>@Model.underground</dd>
            </dl>
        </div>
    </div>
</div>
