@model YTool.Business.ViewModels.VideoViewModel

<div class="panel panel-default">
    <div class="panel-heading">Video Informtion from Youtube site using (YoutubeExplode lib)</div>
    <div class="panel-body">
        <div class="container">
            <dl class="dl-horizontal">
                <dt><label class="form-label">Author </label></dt>
                <dd>@Model.Author</dd>
                <dt><label class="form-label">Duration </label></dt>
                <dd>@Model.Duration</dd>
                <dt><label class="form-label">ID </label></dt>
                <dd>@Model.Id</dd>
                <dt><label class="form-label">Keywords </label></dt>
                <dd>@Model.Keywords</dd>
                <dt><label class="form-label">Title </label></dt>
                <dd>@Model.Title</dd>
                <dt><label class="form-label">UploadDate </label></dt>
                <dd>@Model.UploadDate</dd>
            </dl>

        </div>
    </div>
</div>
